body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin-top: 100px;
}

ol, ul {
  padding-left: 30px;
}
.btn {
  background: #ffffff;
  padding: 10px;
  margin: 5px;
  width: 150px;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid rgb(76, 230, 97);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 70px;
  height: 70px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 70px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

